# Ignore artifacts:
build
coverage

.next
node_modules/
public
.gitignore
.prettierignore
.prettierrc
eslint.config.mjs
next-env.d.ts
next.config.ts
package-lock.json
package.json
postcss.config.mjs
README.md
tsconfig.json
