@import "tailwindcss";

:root {
  --primary-color: #f54a00;
  --primary-color-variant: #ff6900;
  
  --text-color: #ffffff;
  --text-color-variant-1: #e5e7eb;
  --text-color-variant-2: #000000;
  --background-color:	rgb(10, 10, 20);
  --background-color-transparant: rgba(10,10,20,0.5);

  --color-surface-1: rgb(30, 30, 40);
  --color-surface-1-transparant: rgba(30, 30, 40, 0.5);
  --color-surface-2-transparant: rgba(255, 255, 255, 0.3);
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
  transition: all 0.300s ease-in;
}

.swiper-pagination-bullet-active {
  width: 1.5rem !important;
  border-radius: 8px !important;
}

.swiper-button-prev {
  width: 2.5rem !important;
  height: 2.5rem !important;
  left: 2.5rem !important;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0;
  transition: all 0.300s ease-in;
}

.swiper-button-next {
  width: 2.5rem !important;
  height: 2.5rem !important;
  right: 2.5rem !important;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0;
  transition: all 0.300s ease-in;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 1.5rem !important;
  color: #000000;
}

.swiper:hover .swiper-button-prev {
  left: 0.5rem !important;
  opacity: 1;
}

.swiper:hover .swiper-button-next {
  right: 0.5rem !important;
  opacity: 1;
}
